@charset "utf-8";

/*==================================================
ギャラリーのためのcss
===================================*/

// スクロールしても固定されるheader
// トップに戻るボタン後半から
// headerを途中まで表示してしばらくしたら消す、再び上に行ったら再度表示
// 画像アニメーションで表示

#gallery-content {
    @extend .content-width;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    // align-items: center;
    margin: $navHeight auto !important;
}

.gallery-display {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.gallery {
    columns: 1;
    & > li {
        text-align: center;
        // 画像を中心に寄せる
        margin-bottom: 20px;
        /*各画像下に余白をつける*/

    }
}

.gallery li {
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    margin: 0 auto;
    /*画像の下にできる余白を削除*/
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #333;
}

a:hover,
a:active {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 6vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 30px 0;
}

p {
    margin: 0 10px 10px 10px;
    word-wrap: break-word;
}

/*画像を出現させるアニメーションCSS*/

.flipLeft {
    animation-name: flipLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    perspective-origin: left center;
    opacity: 0;
}

@keyframes flipLeft {
    from {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
        opacity: 0;
    }

    to {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
        opacity: 1;
    }
}