@charset "utf-8";

/*==================================================
ギャラリーのためのcss
===================================*/


#gallery-content {
    @extend .content-width;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    // align-items: center;
    margin: $navHeight auto !important;
}

.gallery-display {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.gallery {
    columns: 4;
    padding: 0;
    margin: 0;
    /*段組みの数*/
    // padding: 0 15px;
    /*ギャラリー左右に余白をつける*/
}

.gallery li {
    margin-bottom: 20px;
    /*各画像下に余白をつける*/
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    /*画像の下にできる余白を削除*/
}

/*　横幅900px以下の段組み設定　*/
@media only screen and (max-width: 900px) {
    .gallery {
        columns: 3;
    }
}

@media only screen and (max-width: 768px) {
    .gallery {
        columns: 2;
    }
}