@charset "utf-8";

/*==================================================
ギャラリーのためのcss
===================================*/

// スクロールしても固定されるfooter other works
// トップに戻るボタン後半から
// headerを途中まで表示してしばらくしたら消す、再び上に行ったら再度表示
// 画像アニメーションで表示
// header-logoを透明にする。nth-childで名前と苗字の間にmargin
// worksをスライドでジャンル表示
// headerと画像の位置を揃える
// アニメーションスマホだとエラー
// スマホmargin-bottom少し大きくする
// 写真ホバー時透明にする
// aboutテキストアニメーション上に移動する感じ
// ページ遷移滑らかなアニメーション
// contactヨシダナギ

// 下から上だとアニメーション発動しない
#gallery-content {
    @extend .content-width;
    position: relative;
    height: 100vh;
    display: block;
    justify-content: center;
    // align-items: center;
    margin: $navHeight auto !important;
}

.gallery-display {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.gallery {
    columns: 1;
    & > li {
        position: relative;
        text-align: center;
        // 画像を中心に寄せる
        margin: 0 0 80px;
        /*各画像下に余白をつける*/
        // &::before {
        //     content: "";
        //     animation-name: img-animate;
        //     animation-duration: 1s;
        //     animation-fill-mode: forwards;
        //     background-color: $cBlack;
        //     z-index: 100;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        // }
        & > a{
            position: relative;
            // display: block; liと同じ大きさにするk
        }
    }
}


/*ギャラリー内のイメージは横幅100%にする*/
// .gallery img {
//     width: 100%;
//     height: 100%;
//     vertical-align: bottom;
//     /*画像の下にできる余白を削除*/
// }

img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    /*画像の下にできる余白を削除*/
}

// li.flipLeft {
//     &::before {
//             content: "";
//             animation-name: img-animate;
//             animation-duration: 2s;
//             animation-fill-mode: forwards;
//             background-color: $cBlack;
//             z-index: 100;
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//         }
// }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #333;
}

a:hover,
a:active {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 6vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 30px 0;
}

p {
    margin: 0 10px 10px 10px;
    word-wrap: break-word;
}

/*画像を出現させるアニメーションCSS*/

// .flipLeft {
//     animation-name: flipLeft;
//     animation-duration: 0.5s;
//     animation-fill-mode: forwards;
//     perspective-origin: left center;
//     opacity: 0;
// }

@keyframes flipLeft {
    from {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
        opacity: 0;
    }

    to {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes img-animate {
    0% {transform-origin: bottom;
        transform: scaleY(1);
        // transform: translateY(0px);
    }
    100% {
        transform-origin: bottom;
        transform: scaleY(0);
    }
    
}