/******************************************************************

Stylesheet: 変数リスト

******************************************************************/
$cBlack: black;
$cWhite: white;
$navHeight: 80px;
$contentMaxWidth: 1070px;