/******************************************************************

Stylesheet: 変数リスト

******************************************************************/
$cBlack: #111;
$cWhite: white;
$navHeight: 80px;
$contentMaxWidth: 1100px;
$header-color: #fff;